Repository VyacheslavGithuub/ticket: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run stylelint, npm run lint

.lintstagedrc.json:

{
  "*.{js,json,md,html}": ["prettier --write"],
  "*.(css|scss)": ["npm run stylelint"],
  "*.{js,ts}": ["npm run lint"]
}

basic structure & app routs & styles
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.scss
  src/app/pages/login/login.component.spec.ts
  src/app/pages/login/login.component.ts
  src/app/pages/not-found/not-found.component.html
  src/app/pages/not-found/not-found.component.scss
  src/app/pages/not-found/not-found.component.spec.ts
  src/app/pages/not-found/not-found.component.ts
  src/app/pages/profile/profile.component.html
  src/app/pages/profile/profile.component.scss
  src/app/pages/profile/profile.component.spec.ts
  src/app/pages/profile/profile.component.ts
  src/app/pages/ticket/ticket.component.html
  src/app/pages/ticket/ticket.component.scss
  src/app/pages/ticket/ticket.component.spec.ts
  src/app/pages/ticket/ticket.component.ts
  src/app/pages/tickets/tickets.component.html
  src/app/pages/tickets/tickets.component.scss
  src/app/pages/tickets/tickets.component.spec.ts
  src/app/pages/tickets/tickets.component.ts
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.html
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.scss
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.spec.ts
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.ts
  src/app/shared/layouts/layout-with-sidebar/layout-with-sidebar.component.html
  src/app/shared/layouts/layout-with-sidebar/layout-with-sidebar.component.scss
  src/app/shared/layouts/layout-with-sidebar/layout-with-sidebar.component.spec.ts
  src/app/shared/layouts/layout-with-sidebar/layout-with-sidebar.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, npm run lint

add favicon icon & rout title
  angular.json
  src/app/app.routes.ts
  src/favicon.ico
  src/favicon.png
  src/index.html
Due: prettier --write, npm run lint

fix favicon
  angular.json
  src/assets/favicon.png
  src/index.html
Due: prettier --write

create layout full screen
  src/app/pages/login/login.component.html
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.html
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.scss
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.spec.ts
  src/app/shared/layouts/layout-full-screen/layout-full-screen.component.ts
  src/app/shared/layouts/layout-with-navbar/layout-with-sidebar.component.html
  src/app/shared/layouts/layout-with-navbar/layout-with-sidebar.component.scss
  src/app/shared/layouts/layout-with-navbar/layout-with-sidebar.component.spec.ts
  src/app/shared/layouts/layout-with-navbar/layout-with-sidebar.component.ts
  src/styles.scss
Due: prettier --write, npm run lint

create navbar
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.scss
  src/app/shared/components/navbar/navbar.component.spec.ts
  src/app/shared/components/navbar/navbar.component.ts
Due: prettier --write, npm run lint

create layout with title
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.ts
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.html
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.scss
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.spec.ts
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.ts
  src/app/shared/components/layout-with-title/layout-with-title.component.html
  src/app/shared/components/layout-with-title/layout-with-title.component.scss
  src/app/shared/components/layout-with-title/layout-with-title.component.spec.ts
  src/app/shared/components/layout-with-title/layout-with-title.component.ts
  src/app/shared/layouts/layout-with-navbar/layout-with-sidebar.component.html
  src/styles.scss
Due: prettier --write, npm run lint

create layout page
  src/app/app.routes.ts
  src/app/shared/components/layout-page/layout-page.component.html
  src/app/shared/components/layout-page/layout-page.component.scss
  src/app/shared/components/layout-page/layout-page.component.spec.ts
  src/app/shared/components/layout-page/layout-page.component.ts
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.html
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.scss
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.spec.ts
  src/app/shared/components/layout-with-sidebar/layout-with-sidebar.component.ts
  src/app/shared/components/layout-with-title/layout-with-title.component.html
  src/app/shared/components/layout-with-title/layout-with-title.component.scss
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.scss
  src/app/shared/components/navbar/navbar.component.ts
  src/assets/icons/IconExit.svg
  src/assets/icons/IconNavbarArrow.svg
  src/assets/icons/IconPerson.svg
  src/styles.scss
Due: prettier --write, npm run lint

fix navbar component
  src/app/shared/components/layout-page/layout-page.component.html
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.ts
Due: prettier --write, npm run lint

update navbar
  src/app/shared/components/layout-page/layout-page.component.ts
  src/app/shared/components/navbar/navbar.component.ts
  src/assets/icons/IconTickets.svg
Due: npm run lint

add json-server|json-server-auth -D
  package-lock.json
  package.json
  src/app/shared/components/layout-with-title/layout-with-title.component.html
  src/server/users.json
Due: prettier --write

add concurrently dev
  package-lock.json
  package.json
Due: prettier --write

add login form
  angular.json
  package-lock.json
  package.json
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.scss
  src/app/pages/login/login.component.ts
  src/app/shared/api/api-users/api-user.d.ts
  src/app/shared/api/api-users/api-users.service.spec.ts
  src/app/shared/api/api-users/api-users.service.ts
  src/app/shared/components/layout-with-title/layout-with-title.component.scss
  src/app/shared/helpers/nnfb.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
  src/styles.scss
Due: prettier --write, npm run lint

add ui password
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.ts
  src/app/shared/UI/ui-password/ui-password.component.html
  src/app/shared/UI/ui-password/ui-password.component.scss
  src/app/shared/UI/ui-password/ui-password.component.spec.ts
  src/app/shared/UI/ui-password/ui-password.component.ts
  src/assets/img/IconEyeClosed.png
  src/assets/img/IconEyeOpen.png
Due: prettier --write, npm run lint

stylized the login form
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.scss
  src/app/pages/login/login.component.ts
  src/app/shared/UI/ui-input/ui-input.component.html
  src/app/shared/UI/ui-input/ui-input.component.scss
  src/app/shared/UI/ui-input/ui-input.component.spec.ts
  src/app/shared/UI/ui-input/ui-input.component.ts
  src/app/shared/UI/ui-label/ui-label.component.html
  src/app/shared/UI/ui-label/ui-label.component.scss
  src/app/shared/UI/ui-label/ui-label.component.spec.ts
  src/app/shared/UI/ui-label/ui-label.component.ts
  src/app/shared/UI/ui-password/ui-password.component.html
  src/app/shared/UI/ui-password/ui-password.component.scss
  src/app/shared/UI/ui-password/ui-password.component.ts
  src/styles.scss
Due: prettier --write, npm run lint

fix
  package-lock.json
  package.json
  src/app/pages/login/login.component.ts
  src/app/shared/api/api-users/api-user.d.ts
  src/server/db.json
  src/server/routes.json
  src/server/users.json
Due: prettier --write, npm run lint

fix package.json
  package.json
Due: prettier --write

fix project
  src/app/pages/login/login.component.html
  src/app/pages/login/login.component.scss
  src/app/pages/login/login.component.ts
  src/app/shared/api/api-users/api-user.d.ts
  src/app/shared/api/api-users/api-users.service.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
  src/server/db.json
  src/styles.scss
Due: prettier --write, npm run lint

add notification component
  .eslintrc.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/pages/login/login.component.ts
  src/app/shared/api/api-users/api-user.d.ts
  src/app/shared/api/api-users/api-users.service.ts
  src/app/shared/components/layout-page/layout-page.component.ts
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/notification/notification.component.html
  src/app/shared/components/notification/notification.component.scss
  src/app/shared/components/notification/notification.component.ts
  src/app/shared/components/notification/notification.service.ts
  src/app/shared/components/notification/notification.ts
  src/assets/icons/navbar/IconExit.svg
  src/assets/icons/navbar/IconNavbarArrow.svg
  src/assets/icons/navbar/IconPerson.svg
  src/assets/icons/navbar/IconTickets.svg
  src/assets/icons/notification/IconCross.svg
  src/assets/icons/notification/iconError.svg
  src/assets/icons/notification/iconInfo.svg
  src/assets/icons/notification/iconSuccess.svg
Due: prettier --write, npm run lint
